In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import bs4
from fastnumbers import isfloat 
from fastnumbers import fast_float
from multiprocessing.dummy import Pool as ThreadPool
from IPython.core.display import HTML
import matplotlib.pyplot as plt
import seaborn as sns
import json
from tidylib import tidy_document

sns.set_style('whitegrid')
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
def ffloat(string):
    if string is None:
        return np.nan
    if type(string)==float or type(string)==np.float64:
        return string
    if type(string)==int or type(string)==np.int64:
        return string
    return fast_float(string.split(" ")[0].replace(',','').replace('%',''),
                      default=np.nan)

def ffloat_list(string_list):
    return list(map(ffloat,string_list))

def remove_multiple_spaces(string):
    if type(string)==str:
        return ' '.join(string.split())
    return string

In [3]:
def request_with_check(url):
    page_response = requests.get(url, timeout=240)
    status = page_response.status_code
    if status>299:
        raise AssertionError("page content not found, status: %s"%status)
    return page_response

In [4]:
request_with_check("https://www.moneycontrol.com/stocksmarketsindia/")

In [21]:
page_response = requests.get("https://www.moneycontrol.com/stocksmarketsindia/", timeout=240)
page_content = BeautifulSoup(page_response.content, "html.parser")
tbl = str(page_content.find("div",attrs={'id':"maindindi"}))
HTML(tbl)

In [22]:
data_frame = pd.read_html(tbl)[0]
data_frame

              Index     Price  Change  %Chg
0          NIFTY 50  11214.00   13.80  0.12
1            SENSEX  38040.57   15.12  0.04
2        NIFTY BANK  21754.00  111.40  0.51
3          NIFTY IT  18004.15 -184.65 -1.02
4  S&P BSE Smallcap  13668.69  106.46  0.78